@model Genre
@{
    ViewBag.Title = "Genre Details";
}

<h1>@Model.Name Details</h1>


@if (Model.ProductGenres != null && Model.ProductGenres.Any())
{
    <h4>Products</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productGenre in Model.ProductGenres)
            {
                <tr>
                    <td>@productGenre.Product.Name</td>
                        <td>@productGenre.Product.Description</td>
                        <td>@productGenre.Product.Price</td>
                    </tr>
                }
            </tbody>
       </table>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>